//variables
$bg-colour: #ffffff;
$nav-hover-colour: #c99feb;
$pop-colour: #50129b;
$contact-bg-colour: #d1f1ff;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Courier New', monospace;
}

nav {
	background-color: $bg-colour;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1px 4px rgb(0 0 0 / 22%);
}

#about, #portfolio, #contact {
	scroll-margin-top: 69px;
}

header {
	margin-top: 70px;
	background-image: url("header-background.jpg");
	background-color: #a98aff;
	background-size: cover;
	height: 700px;
}

.about {
	display: flex;

	div {
		width: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		font-size: 1.2rem;
	}
}

.img-div {
	justify-content: center;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
}

.about-heading {
	margin: 0;
	padding-top: 20%;
	padding-right: 20%;
	padding-left: 5%;
	padding-bottom: 1%;
}

h4 {
	font-weight: normal;
	font-size: 4rem;
	text-decoration: underline;
	margin: 0;
}

.about-text {
	padding: 5%;
	margin: 0;
	background-color: #dfd1ff;
}

section {
	padding-left: 12.5%;
	padding-right: 12.5%;
}

h2 {
	font-weight: normal;
	font-size: 2rem;
	a {
		color: $pop-colour;
		white-space: nowrap;
	}
}

.links {
	margin: 15px;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

.header-text {
	float: right;
	width: 50%;
	height: 100%;
	background-color: rgba(116, 111, 114, 0.65);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 6rem;
	margin: 2%;
	margin-left: 20%;
}

h3 {
	font-weight: normal;
	font-size: 1.5rem;
	padding-left: 20%;
}

a {
	text-decoration: none;
	color: #000000;
	margin-left: 60px;
	margin-right: 60px;
	transition: color 0.25s;
}

.links a:hover, h2 a:hover {
	color: $nav-hover-colour;
}

.project a:hover {
	color: #c1cac4;
}

.header-text span {
	transition: background-color 0.5s, color 0.5s;
}

.header-text span:hover {
	background-color: rgba(250, 250, 250, 0.65);
	color: $pop-colour;
}

.portfolio-heading {
	text-align: center;
}

.all-projects {
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 27.33%;
	background-color: #daffe7;
	margin: 3%;
	padding: 10px;

	img {
		width: 100%;
		height: auto;
		padding: 15px;
	}

	p {
		text-align: justify;
		background-color: #daffe7;
		margin: 10px;
	}

	a {
		padding: 4%;
		margin: 0;
	}
}

.project-links {
	display: flex;
	justify-content: space-around;
	text-decoration: underline;
	font-size: 1.5rem;
}

h5 {
	text-align: center;
	font-size: 2.5em;
	font-weight: normal;
	text-decoration: underline;
	margin: 5px;
}

.contact-heading {
	margin: 0;
	padding-top: 5%;
	padding-left: 2.5%;
	padding-bottom: 0.5%;
}

.contact-text {
	background-color: transparent;
	padding: 1%;
}

.contact div {
	background-color: $contact-bg-colour;
}

.contact-links {
	display: flex;

	a {
		margin: 0;
		padding: 1%;
	}

	img {
		width: 40px;
		height: 40px;
		margin: 10px;
	}

	div{
		display: flex;
		align-items: center;
	}

	p {
		text-align: center;
		background-color: $contact-bg-colour;
	}
}

footer div {
	margin: 1%;
	color: $pop-colour;
}

@media screen and (max-width: 1600px) {
	
	section {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (max-width: 1300px) {
	
	a {
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.project {
		width: 46%;
		background-color: #daffe7;
		margin: 2%;

		img {
			width: 100%;
			height: auto;
			padding: 5%;
		}
	}
	
	h5 {
		margin: 1.5%;
	}
}

@media screen and (max-width: 900px) {
	
	.about {
		flex-direction: column-reverse;

		img {
			width: 100%;
			height: auto;
			padding: 0;
		}

		div {
			width: 100%;
		}
	}
	
	.img-div {
		padding: 0;
	}
	
	h2 {
		display: none;
	}
	
	.header-text {
		float: none;
		width: 100%;
		height: 55%;
	}
	
	h1 {
		font-weight: normal;
		font-size: 5rem;
		text-align: center;
		margin: 0;
	}

	h3 {
		font-weight: normal;
		font-size: 1.5rem;
		text-align: center;
		padding: 5%;
	}
	
	header {
		display: flex;
		align-items: center;
	}
	
	nav {
		justify-content:center;
	}
	
	a {
		margin: 5%;
	}
	
	section {
		width: 100%;
		padding: 0;
	}
	
	.about-heading, .contact-heading {
		padding-top: 5%;
		padding-right: 5%;
	}
	
	.portfolio-heading {
		padding-top: 5%;
	}
	
	.project {
		width: 90%;
		margin: 5%;
		
		a, p {
			padding: 2%;
		}

		img {
			padding: 5%;
		}
	}
}