* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
}

header {
	text-align: center;
	background-image: url("header-background.jpg");
	background-color: #5D3FD3;
	background-size: cover;
	height: 700px;
}

main {
	display: flex;
	justify-content: center;
}

footer {
	display: flex;
	justify-content: center;
}

section {
	width: 75%;
	text-align: center;
}

.contact {
	text-align: left;
}