* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Courier New', monospace;
}

nav {
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
}

header {
	margin-top: 70px;
	background-image: url("header-background.jpg");
	background-color: #a98aff;
	background-size: cover;
	height: 700px;
}

main {
	display: flex;
	justify-content: center;
}

#about {
	display: flex;
}

#about div {
	width: 50%;
}

#about img {
	width: 100%;
	height: auto;
}
.contact-container {
	display: flex;
	justify-content: center;
}

section {
	width: 75%;
	text-align: center;
}

.contact {
	text-align: left;
}

h2 {
	font-weight: normal;
	font-size: 2rem;
}

h2 a {
	color: #50129b;
	white-space: nowrap;
}

.links {
	margin: 15px;
	font-size: 1.5rem;
	white-space: nowrap;
	display: flex;
	justify-content: center;
}

.header-text {
	float: right;
	width: 50%;
	height: 100%;
	background-color: rgba(116, 111, 114, 0.65);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 6rem;
	margin-left: 20%;
	margin-right: 20%;
}

h3 {
	font-weight: normal;
	font-size: 1.5rem;
	padding-left: 20%;
}

a {
	text-decoration: none;
	color: #000000;
	margin-left: 60px;
	margin-right: 60px;
}

a:hover {
	color: #c99feb;
}

span:hover {
	background-color: rgba(250, 250, 250, 0.65);
	color: #50129b;
}

footer div {
	margin: 5px;
	color: #50129b;
}

hr {
	margin-left: 5px;
	margin-right: 5px;
	border-style: none;
	height: 1px;
	background-color: rgba(116, 111, 114, 0.65);
}

@media screen and (max-width: 1000px) {
	
	h2 {
		display: none;
	}
	
	.header-text {
		float: none;
		width: 100%;
		height: 55%;
	}
	
	h1 {
		font-weight: normal;
		font-size: 5rem;
		text-align: center;
		margin: 0;
	}

	h3 {
		font-weight: normal;
		font-size: 1.5rem;
		text-align: center;
		padding: 5%;
	}
	
	
	header {
		display: flex;
		align-items: center;
	}
	
	nav {
		justify-content:center;
	}
	
	a {
		margin: 5%;
	}
}

@media screen and (max-width: 400px) {
	
	.links {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 340px) {
	
	.header-text {
		height: 65%;
	}
	
	.links {
		font-size: 1rem;
	}
}