//variables
$bg-colour: #ffffff;
$nav-hover-colour: #c99feb;
$pop-colour: #50129b;
$contact-bg-colour: #d1f1ff;
$about-bg-colour: #dfd1ff;
$project-bg-colour: #daffe7;
$header-backup-bg: #cfbeff;
$project-links-hover: #c1cac4;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Courier New', monospace;
	background: #cfbeff;
	background: linear-gradient(0deg, #cfbeff 0%, #c2f2f2 73%, #defbfb 100%);	
}

nav {
	background-color: $bg-colour;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1px 4px rgb(0 0 0 / 22%);

	.links {
		margin: 15px;
		font-size: 1.7rem;
		display: flex;
		justify-content: center;
	}

	.links a:hover, h2 a:hover {
		color: $nav-hover-colour;
	}
}

a {
	text-decoration: none;
	color: #000000;
	margin-left: 60px;
	margin-right: 60px;
	transition: color 0.25s;
}

#about, #portfolio, #contact {
	scroll-margin-top: 70px;
}

header {
	margin-top: 70px;
	background-image: url("header-background.jpg");
	background-color: $header-backup-bg;
	background-size: cover;
	height: 700px;
	
	.header-text {
		float: right;
		width: 50%;
		height: 100%;
		background-color: rgba(116, 111, 114, 0.65);
		color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.header-text span {
		transition: background-color 0.5s, color 0.5s;
	}

	.header-text span:hover {
		background-color: rgba(250, 250, 250, 0.65);
		color: $pop-colour;
	}
}

section {
	padding-left: 12.5%;
	padding-right: 12.5%;
}

h1 {
	font-family: Roboto, sans-serif;
	font-weight: normal;
	font-size: 6rem;
	margin: 2%;
	margin-left: 20%;
}

h2 {
	font-weight: normal;
	font-size: 2rem;
	a {
		color: $pop-colour;
		white-space: nowrap;
	}
}

h3 {
	font-weight: normal;
	font-size: 2rem;
	padding-left: 20%;
}

h4 {
	font-weight: normal;
	font-size: 4rem;
	text-decoration: underline;
	margin: 0;
}

h5 {
	text-align: center;
	font-size: 2.5em;
	font-weight: normal;
	text-decoration: underline;
	margin: 0;
}

p {
	font-size: 1.4rem;
}

.about {
	display: flex;
	margin-top: 80px;
	margin-bottom: 80px;

	div {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	img {
		width: 100%;
		height: auto;
	}

	.about-heading {
		margin-left: 30px;
		margin-bottom: 10px;
	}

	.about-text {
		padding: 5%;
		margin: 0;
		background-color: $about-bg-colour;
	}

	.mikey-img-div {
		justify-content: center;
		padding-left: 10%;
	}
}

.portfolio-heading {
	text-align: center;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 27.33%;
	background-color: $project-bg-colour;
	margin: 3%;
	padding: 10px;

	img {
		width: 100%;
		height: auto;
		padding: 15px;
	}

	p {
		text-align: justify;
		margin: 10px;
	}

	a {
		padding: 4%;
		margin: 0;
	}

	a:hover {
		color: $project-links-hover;
	}

	.project-links {
		display: flex;
		justify-content: space-around;
		text-decoration: underline;
		font-size: 1.5rem;
	}
}

.contact-heading {
	margin: 0;
	padding-top: 5%;
	padding-left: 2.5%;
	padding-bottom: 0.5%;
}

.contact-container {
	margin-bottom: 30px;
	background-color: $contact-bg-colour;

	.contact-text {
		background-color: transparent;
		padding: 1%;
	}
	
	.contact-links {
		display: flex;
	
		a {
			margin: 0;
			padding: 1%;
		}
	
		img {
			width: 40px;
			height: 40px;
			margin: 10px;
		}
	
		div{
			display: flex;
			align-items: center;
		}
	}
}


footer div {
	color: $pop-colour;
	background-color: $bg-colour;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media screen and (max-width: 1600px) {
	
	section {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media screen and (max-width: 1300px) {
	
	a {
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.project {
		width: 46%;
		margin: 2%;

		img {
			width: 100%;
			height: auto;
			padding: 5%;
		}
	}
}

@media screen and (max-width: 900px) {
	
	h1 {
		font-weight: normal;
		font-size: 5rem;
		text-align: center;
		margin: 0;
	}
	
	h2 {
		display: none;
	}
	
	h3 {
		font-weight: normal;
		font-size: 1.5rem;
		text-align: center;
		padding: 5%;
	}
	
	.about {
		flex-direction: column-reverse;
		margin-top: 0;

		.about-heading {
			margin-left: 15px;
			margin-bottom: 5px;
		}

		img {
			width: 100%;
			height: auto;
		}

		div {
			width: 100%;
		}

		.mikey-img-div {
			padding: 100px;
		}
	}

	header {
		display: flex;
		align-items: center;

		.header-text {
			float: none;
			width: 100%;
			height: 55%;
		}
	}
	
	nav {
		justify-content: center;
	}
	
	a {
		margin: 5%;
	}
	
	section {
		width: 100%;
		padding: 0;
	}
	
	.project {
		width: 90%;
		margin: 5%;
		
		a, p {
			padding: 2%;
		}
	}
}