//variables
$nav-bg-colour: #f9fefe;
$nav-hover-colour: #c99feb;
$pop-colour: #470c8f;
$contact-bg-colour: rgba(255, 255, 255, 0.6);
$about-bg-colour: rgba(255, 255, 255, 0.6);
$project-bg-colour: rgba(255, 255, 255, 0.6);
$links-hover: #2fcaca;
$highlight-text-colour: #cfbeff;
$highlight-transition: color 0.4s;
$main-font: 'Poppins', sans-serif;
$code-font: 'Fira Code', monospace;

body {
	background: linear-gradient(0deg, #cfbeff 0%, #c2f2f2 73%, #defbfb 100%);
}

::selection {
	background: $highlight-text-colour;
}

@media (prefers-reduced-motion: no-preference) {
	.hidden {
		opacity: 0;
		filter: blur(0);
		transform: translateY(-50%);
		transition: opacity 1s, filter 1s, transform 1s;
	}

	#tagline.hidden {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
		transition-delay: 1s;
	}

	header {
		div {
			h2:after {
				animation: blink 1.2s step-end infinite;
			}
		}
	}

	.down-arrow {
		animation: bounce 2s infinite;
		animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
	
	@keyframes bounce {
		0%   { transform: scale(1,1) translateY(0) rotate(45deg); }
		10%  { transform: scale(1.1,.8) translateY(0) rotate(45deg); }
		30%  { transform: scale(.8,1.2) translateY(-2.5rem) rotate(45deg); }
		40%  { transform: scale(1.05,.95) translateY(0) rotate(45deg); }
		55%  { transform: scale(.9,1.1) translateY(-1rem) rotate(45deg); }
		70%  { transform: scale(1,1) translateY(0) rotate(45deg); }
		80%  { transform: scale(1,1) translateY(0) rotate(45deg); }
		100% { transform: scale(1,1) translateY(0) rotate(45deg); }
	}
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

a {
	text-decoration: none;
	color: #000000;
	transition: $highlight-transition;
}

nav {
	font-family: $code-font;
	background-color: $nav-bg-colour;
	box-shadow: 0 1px 4px rgb(0 0 0 / 22%);
	position: fixed;
	width: 100%;
	z-index: 1;

	.nav-link {
		font-size: 1.5rem;
	}
	
	.nav-logo {
		color: $pop-colour;
		font-size: 2rem;
		font-weight: bold;
	}

	.nav-link:hover, .nav-logo:hover {
		color: $nav-hover-colour;
		transition: $highlight-transition;
	}

	.cv-btn {
		background-color: $pop-colour;
		color: $nav-bg-colour;
	}

	.cv-btn:hover {
		background-color: $nav-hover-colour;
		color: $pop-colour;
		transition: $highlight-transition;
		transition: background-color 0.4s;
	}
}

// #about, #portfolio, #contact {
// 	scroll-margin-top: 5.2rem;
// }

header {
	
	div {
		color: $pop-colour;

		h1 {
			font-family: $main-font;
			font-size: 8rem;
		}

		h2 {
			font-family: $code-font;
			text-transform: lowercase;
		}

		h2:before {
			content: '>';
		}

		h2:after {
			content: '_';
			opacity: 1;
		}
	}
	
}

.grid {
	display: grid;
	grid-template-rows: 5fr 1fr;
}

.arrow-container {
	width: 6rem;
	height: 6rem;
}

.arrow-container:hover {
	.down-arrow {
		border-color: $nav-hover-colour;
	}
	cursor: pointer;
}

.down-arrow {
	width: 2.5rem;
	height: 2.5rem;
	border: solid $pop-colour;
	border-width: 0 0.3rem 0.3rem 0;
	transform: rotate(45deg);
}

.section-title {
	font-family: $main-font;
	color: $pop-colour;
	font-weight: 400;
}

h4 {
	font-family: $main-font;
}

.about-text {
	background-color: $about-bg-colour;
}

.project {
	background-color: $project-bg-colour;
	a:hover {
		color: $links-hover;
	}

	.project-links {
		a{
			text-decoration: underline;
		}
	}
}

.contact-container {
	background-color: $contact-bg-colour;
	
	.contact-links {
		a:hover {
			color: $links-hover;
		}
	}
}

footer {
	color: $pop-colour;
	background-color: $nav-bg-colour;
}

@media screen and (max-width: 992px) {
	header {
		div {
			h1 {
				font-size: 6rem;
			}
		}
	}
}