[theme='botanical'] {
  --bg-primary: #7b9c98;
  --bg-secondary: #72908d;
  --main: #eaf1f3;
  --accent: #495755;
  --accent-alt: #abc6c4;
  --text: #eaf1f3;
  --error: #f6c9b4;
  --error-alt: #f59a71;
}
