[theme='dollar'] {
  --bg-primary: #e4e4d4;
  --bg-secondary: #cbd0bf;
  --main: #6b886b;
  --accent: #8a9b69;
  --accent-alt: #424643;
  --text: #555a56;
  --error: #d60000;
  --error-alt: #f68484;
}
