[theme='light'] {
  --bg-primary: #f3eae0;
  --bg-secondary: #b5aa9e;
  --main: #6d54af;
  --accent: #55b093;
  --accent-alt: #807b75;
  --text: #2c2c2c;
  --error: #af545d;
  --error-alt: #af6e54;
}
