[theme='rose-pine-dawn'] {
  --bg-primary: #fffaf3;
  --bg-secondary: #f0e9df;
  --main: #56949f;
  --accent: #c4a7e7;
  --accent-alt: #ea9d34;
  --text: #286983;
  --error: #b4637a;
  --error-alt: #d7827e;
}
